.DEBUGGING  {
    color: black;
    background-color: white;
    padding: 30px
}


.App {
    background-color: #282c34;
    font-family: 'Open Sans';

    text-align: center;

    min-height: 100vh;
}

.centerR    {
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 20px;
}

.header {
    padding:10px;
}

.footer {
    padding: 20px;
    clear: left;
}

.mainForm   {
    margin: 0 auto;
}

@media only screen and (min-width: 700px)   {
    .centerR    {
        width: 60%;
        display: inline-block;
        text-align: left;
    }

    h6   {
        text-align: center;
    }
}

/*---------- LOGO -------------*/
.App-logo {
    height: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/*---------- Main Formatting -------------*/
h {
    font-weight: bold;
    font-size: calc(20px + 2vmin);
}

/*---------- HEADER/FOOTER -------------*/
.App-Footer {
    min-height: 100px;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: calc(2px + 2vmin);
    color: white;
    padding: 30px;

}
